.hero {
  position: absolute;
  top: 70px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 1.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .hero-overlay {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .highlight-word {
    color: #0eee0e;
    font-weight: bold;
    font-size: 40px;
    padding: 0px 6px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
    vertical-align: middle;
/* margin-top: 10px; */
transform: translateY(-5px);
  }
  
  .cta-btn {
    background-color: #5cb85c;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #4cae4c;
  }
  

 